/backend/fasttextcbow_model.bin.wv.vectors_ngrams.npy
/backend/fasttextcbow_model.bin
/backend/__pycache__/ResumeMatch.cpython-39.pyc
/backend/fasttextcbow_model.bin
/backend/fasttextcbow_model.bin.wv.vectors_ngrams.npy
/Frontend/Node_modules/
